<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--
    <add key="ADALServiceURL" value="https://login.microsoftonline.com"/>     Service root URL for Azure AD instance WITH NO TRAILING SLASH! 
    -->
    <add key="ADALServiceURL" value="https://login.microsoftonline.de"/>     <!-- Germany -->
    <add key="ADALRedirectURL" value="https://localhost/"/>                   <!-- Redirect URL for Azure AD to use which MUST MATCH YOUR AAD APP CONFIGURATION! -->
    <!--
    <add key="ARMBillingServiceURL" value="https://management.azure.com"/>   Service root URL for ARM/Billing service WITH NO TRAILING SLASH!  
    <add key="TenantDomain" value="JeanSifantusbmc.onmicrosoft.com"/>        DNS name for your Azure AD tenant, ie: contoso.onmicrosoft.com
    <add key="SubscriptionID" value="e606dead-0eec-4715-b6c2-61d4cdfd07bd"/> GUID of Azure Subscription that is trusting AAD tenant specified above
    <add key="ClientId" value="ec519032-6d36-4d2d-a411-14a7775c99b7"/>       GUID for AAD application configured as Native Client App in AAD tenant specified above
    -->
    <add key="ARMBillingServiceURL" value="https://management.microsoftazure.de"/>    <!-- Germany URL  -->
    <add key="TenantDomain" value="b8afe64f-b30e-40c2-bd3d-36289dc569d9"/>
    <add key="SubscriptionID" value="2a50bc5e-315a-48dc-bf31-69cc725a4731"/>
    <add key="ClientId" value="71a35e6e-f290-4600-9483-c421fbbc8254"/>
    <!--
    <add key="Offers" value="MS-AZR-0003P;MS-AZR-0033P;MS-AZR-0041P;MS-AZR-0042P;MS-AZR-0043P;MS-AZR-0044P;MS-AZR-0059P;MS-AZR-0060P;MS-AZR-0062P;MS-AZR-0063P;MS-AZR-0064P;MS-AZR-0029P;MS-AZR-0022P;MS-AZR-0023P;MS-AZR-0148P;MS-AZR-0025P;MS-AZR-0036P;MS-AZR-0120P;MS-AZR-0130P;MS-AZR-0111P;MS-AZR-0144P;MS-AZR-0149P;MS-AZR-0145P"/> 
    <add key="Offers" value="MS-AZR-DE-0145P;MS-AZR-0044P;MS-AZR-DE-0003P;MS-AZR-DE-0041P;MS-AZR-DE-0042P;MS-AZR-DE-0043P"/>
    -->
    <add key="Offers" value="MS-AZR-DE-0003P;MS-AZR-DE-0044P"/>
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>